@font-face {
  font-family: "BYekan";
  src: url("../assets/foonts/BYekan/BYekan+\ Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normals;
}
$button-coler:#00d0ff;
body {
  background-color: #f4f1e1;
  box-sizing: border-box;
  margin: 0%;
  padding: 10px 40px;

  //  ---------------- header sectione
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // ------------- logo div
    div#Logo {
      img {
        width: 100px;
      }
    }

    // -----------------list
    div#list {
    }
    ul {
      display: flex;
      align-items: center;
      a {
        text-decoration: none;

        li {display: flex;
           justify-content: center; 
            width: 100px;
            height: 30px;
            list-style: none;
            margin-left: 20px;
            font-family: "BYekan", sans-serif;
            font-size: 20px;
            color: #702c00;
            border-bottom: 2px solid #f4f1e1;
            padding: 10px;
            border-radius: 20px;
            position: relative;
            overflow: hidden;  
            background: linear-gradient(to right, $button-coler, #f4f1e1);  
            background-size: 200% 100%; 
            background-position: right bottom;
            transition: background-position 0.5s ease; 
          }
          
          li:hover {
            background-position: left bottom;
            color: black;
     
          }
          
      }
    }
  }
}
